<link rel="stylesheet" href="home.css">
<% layout('layout/boilerplate') %>

    <div class="d-flex flex-column align-items-center mt-5 h-75">

        <h1 class="text-white h1">Welcome to our Escape Room Auto Hint System</h1>

        <div class="container mt-5">
            <div class="row">
                <p class="text-white col-8 offset-2 introduction">
                    Hosting an escape room is fun. However, when you are running at
                    full capacity, the workload is significantly increased and your
                    staff will be stressed. Hint responding time might be longer than
                    usual and could potentially make your customer unsatisfied. By using
                    our auto hint system, you can drastically reduce the workload from
                    staff and provide your customers self-service.
                </p>
            </div>
        </div>

        <footer class="mt-auto text-white-50">
            <p>&copy; 2021 </p>
        </footer>
    </div>